$cubic_bezier: cubic-bezier(.7,0,.3,1);

input {
    transition: all .4s;
    margin-bottom: 20px;
    height: 30px;
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #3E4E62;
    outline: none;
    font-size: 16px;
    padding-left: 5px;
    color: #D2D6DB;
    &::-webkit-input-placeholder{
        color: #6e7a89;;
    }

    &:focus {
        border-bottom: 1px solid #1f807d;
    }
}

@mixin rotate($degrees) {
    -moz-transform:rotate($degrees);
    -webkit-transform:rotate($degrees);
    -o-transform:rotate($degrees);
    -ms-transform:rotate($degrees);
}
